# API
NEXT_PUBLIC_API_URL=http://localhost:5432

# Redis (server-side, used by middleware/server components)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TLS_CERTIFICATE=

# Bunny.net Storage
BUNNY_STORAGE_API_KEY=
BUNNY_STORAGE_ZONE_NAME=
BUNNY_STORAGE_ZONE_REGION=
