# API
NEXT_PUBLIC_API_URL=http://localhost:4000

# Redis (server-side, used by middleware/server components)
REDIS_URL=redis://localhost:6379

# Bunny.net Storage
BUNNY_STORAGE_API_KEY=
BUNNY_STORAGE_ZONE_NAME=
BUNNY_STORAGE_ZONE_REGION=
